<% provide(:title, @course.name) %>

<% content_for :sidebar do %>
  <li class="nav-header">Course Actions</li>
  <% if current_user %>
    <li>
      <%= form_tag "/users/#{current_user.id}/add_course" do %>
        <%= hidden_field_tag 'course_id', @course.id %>
        <%= button_tag "Add to my Course List", :class => 'btn' %>
      <% end -%>
    </li>
  <% end -%>
<% end -%>

<h2><%= @course.name %></h2>

<h3>Course Code</h3>
<p><%= @course.ccode %></p>

<h3>Credits</h3>
<p><%= @course.credits %></p>

<h3>Course Co-ordinator</h3>
<p><%= @course.coordinator %></p>

<h3>Prerequesites</h3>
<p><%= @course.prereq %></p>

<h3>Note(s)</h3>
<p><%= @course.note %></p>

<h3>Description</h3>
<p><%= @course.description %></p>

<h3>Assessment</h3>
<p><%= @course.assessment %></p>

<h3>Level</h3>
<p><%= @course.level %></p>

<h3>Subject</h3>
<p><%= link_to( @course.subject.name, subject_path(@course.subject) ) %></p>

<h3>Department</h3>
<p><%= @course.department %></p>



