<% provide(:title, @course.name) %>

<% content_for :sidebar do %>
  <li class="nav-header">Course Actions</li>
  <li>Your 'Course List' is a list of all courses you have taken or are currently taking.</li>
  <br />
  <li><strong>Add courses to get the most out of ABDNCC</strong></li>
  <br />
  <% if current_user %>
    <% if current_user.has_course? @course %><!-- Show the 'Remove Course' button -->
      <li>
        <%= form_tag remove_course_user_path(current_user) do %>
          <%= hidden_field_tag 'course_id', @course.id %>
          <%= button_tag "Remove from my Course List", :class => 'btn btn-danger' %>
        <% end -%>
      </li>
    <% else %><!-- Show the 'Add Course' button -->
      <li>
        <%= form_tag add_course_user_path(current_user) do %>
          <%= hidden_field_tag 'course_id', @course.id %>
          <%= button_tag "Add to my Course List", :class => 'btn btn-success' %>
        <% end -%>
      </li>
    <% end -%>
  <% end -%><!-- /current-user -->
<% end -%><!-- /sidebar -->

<h2><%= @course.name %></h2>

<h3>Course Code</h3>
<p><%= @course.ccode %></p>

<h3>Credits</h3>
<p><%= @course.credits %></p>

<h3>Course Co-ordinator</h3>
<p><%= @course.coordinator %></p>

<h3>Prerequesites</h3>
<p><%= @course.prereq %></p>

<h3>Note(s)</h3>
<p><%= @course.note %></p>

<h3>Description</h3>
<p><%= @course.description %></p>

<h3>Assessment</h3>
<p><%= @course.assessment %></p>

<h3>Level</h3>
<p><%= @course.level %></p>

<h3>Subject</h3>
<p><%= link_to( @course.subject.name, subject_path(@course.subject) ) %></p>

<h3>Department</h3>
<p><%= @course.department %></p>

<h2>Comments</h2>
<div class="comments">
  <% @course.comments.each do |comment| %>
  <div class="comment">
    <h4><%= comment.user.name %> <small><%= comment.user.status %></small></h4>
    <h6><%= comment.created_at.to_s %></h6>
    <p><%= comment.content %></p>
  </div>
  <% end -%>
</div>



